/* Custom CSS for the Butterfly theme */

/* 这里的字体是对全站生效的 */
@font-face {
    font-family: 'bodyfont';
    src: url('https://npm.elemecdn.com/ethan4116-blog/lib/font/ZhuZiAWan.ttf');
    font-display: swap;
}

body,
.bfont {
    font-family: bodyfont !important;
}